@use 'src/styles/theme' as *;
@use 'tokens' as tokens;

* {
  color: var(--lodge-main-ui-text-color);
}

.dynamic-form {
  display: flex;
  flex-direction: column;
  color: var(--lodge-main-ui-text-color);
  gap: tokens.$lodge-space-3;

  .input-descriptor {
    color: var(--lodge-accent-color-300);
    font-weight: 500;
    margin-right: tokens.$lodge-space-3;
    max-width: 20%;
  }

  .form-descriptor {
    color: var(--lodge-main-ui-text-color-light);
    font-weight: 500;
    margin-left: tokens.$lodge-space-3;
  }

  .form-descriptor-minor {
    color: var(--lodge-main-ui-text-color);
    font-weight: 400;
    margin-left: tokens.$lodge-space-3;
  }

  .input-types-string {
    display: flex;
    gap: tokens.$lodge-space-3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .input-types-int {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sub-form {
    margin-top: tokens.$lodge-space-1;
    margin-bottom: tokens.$lodge-space-1;
  }
}
