@use 'theme' as *;
@use 'tokens' as tokens;

.lodge-dashboard-main {
  height: 100%;
  .lodge-dashboard-main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 tokens.$lodge-space-5 tokens.$lodge-space-3 tokens.$lodge-space-5;
    gap: tokens.$lodge-space-5;

    h1 {
      font-family: Roboto;
      font-weight: 500;
      font-size: 2em;
      color: var(--lodge-main-ui-text-color);
      margin: 0;
    }
  }

  table {
    background: transparent !important;
  }
}
