<button
  type="button"
  class="m3-button"
  matRipple
  [matRippleColor]="'var(--lodge-background-shader)'"
  [class.thin]="Type() === 'thin'"
  [class.fab]="Type() === 'fab'"
  [class.sidenav-left]="Type() === 'sidenav-left'"
  [class.m3-button-icon-only]="!hasText()"
  [class.m3-button-active]="Rippled()"
  [attr.title]="hasText() ? null : Tooltip()"
>
  @if (Icon() != null) {
    <m3-icon class="m3-button__icon" [filled]="iconFilled()" [weight]="600">{{ Icon() }}</m3-icon>
  }
  @if (hasText()) {
    <span class="m3-button__text lodge-fade-enter">{{ Text() }}</span>
  }
</button>
