:host {
  position: relative;

  .settings-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid var(--lodge-background-shader);
    max-width: 500px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 1.5rem 0;
    }

    h3 {
      margin: 0;
    }

    mat-icon {
      margin: 0 0.75rem;
    }
  }

  .settings-container {
    display: grid;
    --min-card-width: 260px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    align-items: stretch;
    width: 100%;
    margin-block: 1rem 2rem;

    m3-card {
      height: 100%;
    }
  }

  @media (min-width: 640px) {
    .settings-container {
      --min-card-width: 300px;
    }
  }
  @media (min-width: 960px) {
    .settings-container {
      --min-card-width: 340px;
    }
  }
  @media (min-width: 1280px) {
    .settings-container {
      --min-card-width: 380px;
    }
  }
}
