:host {
  position: relative;
  display: block;
  padding: 0 1.5rem;

  .page-title {
    margin: 0.75rem 0;
  }

  .kinds-container {
    display: grid;
    --min-card-width: 260px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    align-items: stretch;
    width: 100%;
    margin-block: 1rem 2rem;

    m3-card {
      height: 100%;
    }
  }

  @media (min-width: 640px) {
    .kinds-container {
      --min-card-width: 300px;
    }
  }
  @media (min-width: 960px) {
    .kinds-container {
      --min-card-width: 340px;
    }
  }
}
