@use '../tokens' as *;

[data-theme='lodge-light'] {
  --lodge-background-color: #fff6ec;

  --lodge-main-ui-text-color: #{$lodge-dark-primary-text};
  --lodge-main-ui-text-color-light: #3b3b3b;

  --lodge-background-shader: #0000001f;
  --lodge-background-shader-lighter: #00000011;
  --lodge-background-shader-stronger: #0000007e;
}
