@use '../tokens' as *;

[data-theme='lodge-grey'] {
  --lodge-background-color: #4c4640;

  --lodge-main-ui-text-color: #{$lodge-light-primary-text};
  --lodge-main-ui-text-color-light: #a5a4a4;

  --lodge-background-shader: #c3c3c31f;
  --lodge-background-shader-lighter: #ffffff0a;
  --lodge-background-shader-stronger: #ffffff4d;
}
